**/node_modules
**/vendor
**/dist
**/.git
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/.env
**/.env.*
!**/.env.example
!**/.env.app.example
**/bootstrap/cache/*.php
**/*.md
!README.md
backend/tests
frontend/src/assets/icons
**/.cursor
**/agent-transcripts
